/*--------------------------------------------------------------------
* VARIABLES
--------------------------------------------------------------------*/

/* Typefaces */

$font-facit = 'jaf-facitweb', 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-inconsolata = 'inconsolata', menlo, consolas, monospaced

/* Font Sizes */

$font-base = 1rem
$font-large = 1.125rem
$font-small = .875rem
$font-smaller = .625rem

/* Header Sizes */

$font-size-h1 = 2rem 
$font-size-h2 = 1.75rem
$font-size-h3 = 1.5rem
$font-size-h4 = 1.25rem
$font-size-h5 = 1rem
$font-size-h6 = 0.875rem

/* Font Weights */

$font-light = 300
$font-regular = 400
$font-monospaced-regular = 500
$font-bold = 700

/* Line Heights */

$line-height-base = 1.75
$line-height-spaced = 1.5

/* Spacing */

$space = 30px

$ui-padding-spaced = $space
$ui-padding-default = $space*.5

/* Borders */

$ui-border = 1px solid $gray-lighter

/* Responsive breakpoints */

$smartphone = '(max-width: 480px)'
$tablet = '(min-width: 481px) and (max-width: 768px)'
$mobile-devices = '(max-width: 768px)'
$desktop = '(min-width: 769px)'
$desktop-wide = '(min-width: 1200px)'