/*--------------------------------------------------------------------
* API
--------------------------------------------------------------------*/

.api-reference h1:first-of-type
    display: none

.page-api
  
  .nav-secondary

    overflow: hidden
    min-height: 300px
    height: 100%

    nav
      height: 100%
      overflow: auto
    
      & > ul
        font-size: $font-small
        margin-top: 0
        margin-bottom: 0

        .section-opened,
        .section-closed
          font-weight: bold
          display: block
          padding-left: 20px

        .section-closed
          background: url('/public/img/icon-arrow-right.svg') 0 8px no-repeat

        .section-opened
          background: url('/public/img/icon-arrow-down.svg') 0 8px no-repeat

        .section-closed:not(.active), .section-opened:not(.active)
          color: $orange

          &:hover
            color: $orange-dark

          & > code
            color: $orange

            &:hover
              color: $orange-dark

        .active
          color: black

          & > code
            color: black

        & > li > a
          font-weight: bold

          & > code
            color: $orange

        a > code
          font-family: inherit
          background-color: inherit
          padding: 0

        li
          display: block
          list-style-type: none
          margin-bottom: 0

        & > li:not(:last-of-type)
          border-bottom: $ui-border

        ul
          margin-top: 0
          margin-bottom: 0

          a:not(.active):not(.section-closed):not(.section-opened)
            color: $gray-light

            &:hover
              color: $gray

            & > code
              color: $gray-light

              &:hover
                color: $gray


  .tag-list, .tag-list-toggle
    border-radius: 3px

  .tag-list
    margin: 30px 0
    padding: 10px 15px
    border: 1px solid $gray-lighter

    p
      margin: 5px 0

    .tag-list-toggle, .tag-list-picker
      border: 1px solid $gray-lighter

    .tag-list-toggle
      position: relative
      padding: 5px 10px
      cursor: pointer
      color: $orange

      &:hover
        color: $orange-dark

      &:hover:after
        border-top-color: $orange-dark

      &:after
        top: 50%
        border: solid transparent
        content: ''
        height: 0
        width: 0
        position: absolute
        pointer-events: none
        border-color: rgba(213, 21, 21, 0)
        border-top-color: $orange
        border-width: 8px
        margin-top: -4px
        margin-left: 15px
      
      &:hover
        .tag-list-picker, .tag-list-picker li
          display: block
      
      .tag-list-picker
        display: none
        position: absolute
        top: 98%
        right: 0
        height: 200px
        width: 100%
        overflow-y: scroll
        z-index: 10
        border-radius: 0 0 3px 3px
        background-color: white

        li

          &:not(:last-of-type)
            border-bottom: 1px solid $gray-lighter

        a
          padding: 5px 10px
          display: block

          &:hover
            background-color: $orange-lighter


@media $desktop-wide

  .page-api
    
    .tag-list-toggle
      width: 115px

      &:after
        left: 70px


@media screen and (max-width: 1199px)

  .page-api
    
    .tag-list p, .tag-list-toggle
      float: none

    .tag-list-toggle
      width: 100%

      &:after
        left: 85%

@media $desktop

  .page-api

    .column
      &:first-of-type
        width: 70%
        padding-right: 120px

      &:last-of-type
        width: 30%
        float: right
