/*--------------------------------------------------------------------
* FOOTER
--------------------------------------------------------------------*/

footer
  position: relative
  padding: 40px 0
  color: $gray-light
  font-size: $font-small
  text-align: center

  nav
    margin: 20px 0

    a
      padding-right: 15px

  p
    margin: 0

    &:last-of-type
      font-size: $font-smaller
