/*--------------------------------------------------------------------
* FOOTER
--------------------------------------------------------------------*/

footer
  padding: 40px 0
  color: $gray-light
  font-size: $font-small
  text-align: center

  nav
    margin: 20px 0

    a
      padding-right: 15px

  p
    margin: 0

    &:last-of-type
      font-size: $font-smaller

.page-api + footer
  width: 70%

@media $mobile-devices

  .page-api + footer
    width: 100%
