/*--------------------------------------------------------------------
* GITHUB ACTIVITY
--------------------------------------------------------------------*/

.page-api
  h1, h2, h3, h4, h5, h6
    position: relative

  h1 a.anchor,
  h2 a.anchor,
  h3 a.anchor,
  h4 a.anchor,
  h5 a.anchor,
  h6 a.anchor
    position: absolute
    display: inline-block
    padding-right: 20px
    left: -20px

    .octicon.octicon-link > path
      fill: $gray-lighter

  h1:hover a.anchor,
  h2:hover a.anchor,
  h3:hover a.anchor,
  h4:hover a.anchor,
  h5:hover a.anchor,
  h6:hover a.anchor

    .octicon.octicon-link > path
      fill: $gray

.contributing,
.github-changelog

  h3
    margin-top: 0

  header, .unstyled
    margin-bottom: 40px

  header
    padding: 15px 0
    border-bottom: $ui-border

    h4
      margin: 0

.new-contributor-issues,
.help-wanted-issues,
.pull-request-list,
.closed-issues-list

  .unstyled

    li
      display: block
      margin-bottom: 15px
      font-size: $font-small
      position: relative
      text-align: left

    p
      margin-top: 0
      margin-bottom: 0

      &:last-of-type
        padding-left: 60px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

.pull-request-number,
.issue-number
  position: absolute
  top: 0
  left: 0
  padding: 0 5px
  width: 50px

  &:hover
    transition: all .5s ease

.pull-request-number
  background: $green-light

  &:hover
    background: $green-lighter

  a
    color: $green-dark

.issue-number
  background: $orange-light

  &:hover
    background: $orange-lighter

  a
    color: $orange-dark
