/*--------------------------------------------------------------------
* GITHUB ACTIVITY
--------------------------------------------------------------------*/

.page-api
  h1, h2, h3, h4, h5, h6
    position: relative

  h1:hover a.anchor,
  h2:hover a.anchor,
  h3:hover a.anchor,
  h4:hover a.anchor,
  h5:hover a.anchor,
  h6:hover a.anchor
    position: absolute
    display: inline-block
    padding-right: 20px
    left: -20px

    .octicon-link:before
      font-size: 60%
      content: '#'
      vertical-align: center

.contributing,
.github-updates
  
  h3
    margin-top: 0
  
  header, .unstyled
    margin-bottom: 40px
  
  header
    padding: 15px 0
    border-bottom: $ui-border

    h4
      margin: 0

.new-contributor-issues,
.help-wanted-issues,
.pull-request-list,
.closed-issues-list
  
  .unstyled
    
    li
      display: block
      margin-bottom: 15px
      font-size: $font-small
      position: relative
      text-align: left

    p
      margin-top: 0
      margin-bottom: 0

      &:last-of-type
        padding-left: 60px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

.pull-request-number,
.issue-number
  position: absolute
  top: 0
  left: 0
  padding: 0 5px
  width: 50px

  &:hover
    transition: all .5s ease

.pull-request-number
  background: $green-light

  &:hover
    background: $green-lighter

  a
    color: $green-dark

.issue-number
  background: $orange-light

  &:hover
    background: $orange-lighter

  a
    color: $orange-dark

.changelog
  text-align: left

  ul
    margin: 0

    li
      width: 100%
      list-style-type: none

    li > a > strong
      margin-right: 5px
      display: inline-block

    ul
      margin-top: 8px
      font-size: $font-small
      color: $gray-light
      margin-left: 57px

      li
        margin: 10px 0px

@media $smartphone

  .changelog

    li p, li a
      display: block

    li li
      padding: 5px 0
      line-height: 1.5

      &:not(:last-of-type)
        border-bottom: 1px solid $gray-lighter
