/*--------------------------------------------------------------------
* UPDATES
--------------------------------------------------------------------*/

.changelog
  text-align: left

  .content

    .changelog div, h3
      text-align: center

  ul
    margin: 0

    li
      width: 100%
      list-style-type: none

    li > a > strong
      margin-right: 5px
      display: inline-block

    ul
      margin-top: 8px
      font-size: $font-small
      color: $gray-light
      margin-left: 57px

      li
        margin: 10px 0px

@media $desktop

  .changelog .content
    width: 50%
