/*--------------------------------------------------------------------
*
* HAPI.js
* github.com/hapijs/hapijs.com
* Made by Walmart Labs 
*
--------------------------------------------------------------------*/

//- Globals and Variables
@import 'globals/_variables'
@import 'globals/_colors'

//- Components
@import 'components/base'
@import 'components/code'
@import 'components/buttons'
@import 'components/animations'
@import 'components/tables'

//- Sections
@import 'sections/header'
@import 'sections/footer'
@import 'sections/github'
@import 'sections/community'
@import 'sections/api'
@import 'sections/plugins'
@import 'sections/updates'
