/*--------------------------------------------------------------------
* CODE
--------------------------------------------------------------------*/

.highlight > pre, a > code, li > code, pre > code, p > code
  font-family: $font-inconsolata
  padding: .2rem .33rem
  color: $gray-light
  background-color: lighten($gray-lighter, 65%)

pre
  overflow: visible

.highlight > pre, pre > code
  text-align: left
  display: block
  padding: 0.5em
  margin: 0
  padding: 20px
  white-space: pre-wrap
  background-color: lighten($gray-lighter, 80%)
  word-break: break-all
  word-wrap: break-word

.pl-c
  color: lighten($gray-light, 20%)
  font-style: italic

.pl-st,
.pl-k,
.pl-s
  font-weight: bold

.pl-c1,
.pl-s1
  color: darken($green-light, 30%)
