footer(role='contentinfo')
  .contain

    nav(role='navigation')
      ul.unstyled
        li
          a(href='/updates', title='Latest Updates') Updates
        li
          a(href='/tutorials', title='Tutorials') Tutorials
        li
          a(href='/api', title='API Reference') API
        li
          a(href='/plugins', title='Plugins') Plugins
        li
          a(href='/resources', title='Resources') Resources
        li
          a(href='https://github.com/hapijs/hapi', title='hapi on Github') Github
        li
          a(href='https://twitter.com/hapijs', title='@hapijs on Twitter') Twitter
        li
          a(href='/help') Need Help?

    p hapi is maintained by the <a href='https://github.com/orgs/hapijs/people'>core team</a> with help from <a href='https://github.com/hapijs/hapi/graphs/contributors'>our contributors</a> and a very big thanks to <a href='https://packet.net'>packet.net</a> for our hosting.
