footer(role='contentinfo')
  .content

    nav(role='navigation')
      ul.unstyled
        li
          a(href='/updates', title='Latest Updates') Updates
        li
          a(href='/tutorials', title='Getting Started with hapi') Getting Started
        li
          a(href='/api', title='API Reference') API
        li
          a(href='/community', title='Community') Community
        li
          a(href='/plugins', title='Plugins') Plugins
        li
          a(href='https://github.com/hapijs/hapi', title='hapi on Github') Github
        li
          a(href='https://twitter.com/hapijs', title='@hapijs on Twitter') Twitter
        li
          a(href='https://github.com/hapijs/discuss') Need Help?

    p hapi is maintained by the <a href='https://github.com/orgs/hapijs/people'>core team</a> with help of <a href='https://github.com/hapijs/hapi/graphs/contributors'>our contributors</a>.
    p © 2011-2014, Walmart and other contributors
