nav.animated.fadeInDown(role='navigation')

  .cf.contain

    a.logo(href='/', title='← Back to home of hapi')

    ul.nav-collapse.unstyled
      li 
        a(href='/changelog', title='Changelog') Changelog
      li 
        a(href='/tutorials', title='Tutorials') Tutorials
      li
        a(href='/api', title='API Reference') API
      li
        a(href='/plugins', title='Plugins') Plugins
      li
        a(href='/contribute', title='Contribute to hapi') Contribute
      li
        a(href='/resources', title='Resources') Resources
      li
        a(href='/help') Need Help?
      li
        a.edit(href=editLink) Edit
          include edit-svg
