nav.animated.fadeInDown(role='navigation')

  .content.cf

    a.logo(href='/', title='← Back to home of hapi')

    ul.nav-collapse.unstyled
      li 
        a(href='/updates', title='Updates') Updates
      li 
        a(href='/tutorials/en_US', title='Tutorials') Tutorials
      li
        a(href='/api', title='API Reference') API
      li
        a(href='/community', title='Community') Community
      li
        a(href='/plugins', title='Plugins') Plugins
      li
        a(href='/contribute', title='Contribute to hapi') Contribute
      li  
        a(href='/resources', title='Resources') Resources
      li
        a(href='/help') Need Help?
