nav.animated.fadeInDown(role='navigation')

  .content.cf

    a.logo(href='/', title='← Back to home of hapi')

    ul.nav-collapse.unstyled
      li 
        a(href='/updates', title='Updates') Updates
      li 
        a(href='/tutorials', title='Getting Started with Hapi') Getting Started
      li
        a(href='/api', title='API Reference') API
      li
        a(href='/community', title='Community') Community
      li
        a(href='/plugins', title='Plugins') Plugins
      li
        a(href='https://github.com/hapijs/hapi/blob/master/CONTRIBUTING.md', title='Contribute to hapi') Contribute
      li
        a(href='https://github.com/hapijs/discuss') Need Help?
