.category
  padding: 20px 0 60px 0
  position: relative

  h3
    text-align: center

  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 50%
    width: 30%
    margin-left: -15%
    height: 1px
    background-color: $gray-lighter
