/*--------------------------------------------------------------------
* TABLES
--------------------------------------------------------------------*/

table
  width: 100%
  margin: 40px 0
  
  tr
    border-bottom: $ui-border

  th, td
    padding: 20px
    text-align: center