/*--------------------------------------------------------------------
* COLORS
--------------------------------------------------------------------*/

$gray = #222
$gray-light = lighten($gray, 35%)
$gray-lighter = lighten($gray, 85%)
gray-dark = darken($gray, 50%)

$green = #87997D
$green-light = #C5E0B6
$green-lighter = lighten($green, 90%)
$green-dark = darken($green, 30%)

$orange = #F6941E
$orange-light = #FFBC6C
$orange-lighter = lighten($orange, 80%)
$orange-dark = darken($orange, 30%)
