extends layout

block title
  title #{tag} API Reference

block content

  .content.page-api.cf 

    .column.api-description
      .reference !{html}

    .column.nav-secondary

      .tag-list.cf
        p.pull-left Reference version:
        .tag-list-toggle.pull-right= tag
          ul.unstyled.tag-list-picker
            each available in tags
              if tag !== available
                li
                  a(href='/api/#{available}')= available
