extends layout

block title
  title Contributing to hapi

block content

  section.bottom-rule.contributing
    .contain
      h3 Contributing to hapi
      p If you're interested in helping out, here's a list of currently open issues that would be a great place to start. Make sure to read the <a href="/styleguide">style guide</a> before you write any code.

      p Several issues are raised across the hapijs organization that are waiting for contributors to show them some love. Those are marked with <a href="https://github.com/search?q=is%3Aissue+user%3Ahapijs+label%3A%22backlog%22"> backlog label</a>.

      p We also labelled issues for newcomers that would like to contribute to our community. They are marked with <a href="https://github.com/hapijs/hapi/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22">good first issue label</a>.

      p Finally we also have issues labelled with <a href="https://github.com/issues?q=is%3Aopen+is%3Aissue+user%3Ahapijs+label%3A%22help+wanted%22">help wanted</a>. These issues might not be as easy to tackle than the previous one.
