extends layout

block title
  title Error - hapi.js

block header

  .content

    section.bottom-rule
      h1= output.statusCode
      p= message
      p Uh oh, something went wrong! <a href='/'>Get back to the home page.</a>
