extends layout

block title
  title hapi days!

block content
  .content.page-api.cf

    .content
      section.featured
        h2 <a id="hapidays"></a>hapi days are coming!
        p hapi days is a one day conference that will be part of <a href="http://oakland.jsfest.com/">JSFest</a> in Oakland, CA. It's focused on hapi and the people that use it.
        p Come on out as a <a href="#cfp">speaker</a> or <a href="https://ti.to/jsfest/oakland">grab a ticket</a>!

        h4 When?
        p December 11th, 2014.

        h4 Where?
        p TBA, follow <a href="https://twitter.com/hapijs">@hapijs</a> for updates.

        h4 Speakers
        p Speakers will be presenting on <a href="https://github.com/hapijs/hapi">hapi</a>, modules within <a href="https://github.com/hapijs">the hapijs organization</a>, and the use of the hapi ecosystem in businesses as well as private projects.
        p Want to be one? Check out the <a href="#cfp">CFP</a> below!

        .cf
          a.speaker
            img(src='/public/img/mystery-speaker.svg')
          a.speaker
            img(src='/public/img/mystery-speaker.svg')
          a.speaker
            img(src='/public/img/mystery-speaker.svg')
          a.speaker
            img(src='/public/img/mystery-speaker.svg')

        h4 <a id="cfp"></a>Want to give a talk?
        p The CFP is the same as the <a href="https://github.com/mikeal/jsfest-oakland-cfp">JSFest call for proposals</a>; please file an issue there and tag your submission with 'hapi'. There is a very small difference, however, as talks will be 10 minutes long and organized into acts that will occur throughout the day.
        p If you would prefer to keep your submission private, feel free to send an email to <a href="mailto:ben@hapijs.com">ben@hapijs.com</a> instead.

        h4 Code of Conduct
        p Please see the <a href="http://oakland.jsfest.com/conduct.html">JSFest Code of Conduct</a> as it applies to hapi days as well.