extends layout

block title
  title hapi days!

block content
  .content.page-api.cf

    .content
      section.featured
        h2 <a id="hapidays"></a>hapi days are almost here!
        p hapi days is a one day conference that will be part of <a href="http://oakland.jsfest.com/">JSFest</a> in Oakland, CA. It's focused on hapi and the people that use it.

        h3 When?
        p December 11th, 2014.

        h3 Where?
        p TBA, follow <a href="https://twitter.com/hapijs">@hapijs</a> for updates.

        h3 Speaker Schedule

        <div>Ben Acker & Wyatt Lyon Preul <span style="color:gray; font-style: italic">Learning hapi with sensors</span></div>

        <div>John Brett  <span style="color:gray; font-style: italic">A companies intro to hapi, and how it is currently enabling thousands of emergency responders worldwide</span></div>

        <div>Adam Bretz  <span style="color:gray; font-style: italic">In the Lab with the hapi Universe</span></div>

        <div>* break *

        <div>Jon Lamendola  <span style="color:gray; font-style: italic">Bizzarolout: an approachable hapi.js plugin that uses parts of the Lout documentation generator to perform malicious path test case generation and static code analysis</span></div>

        <div>Kevin Decker  <span style="color:gray; font-style: italic">Walmart Black Friday Rendering with Server Side Rendering</span></div>

        <div>Edna Piranha  <span style="color:gray; font-style: italic">How I used hapi with socket.io to create RVLVVR - a distributed messaging system</span></div>

        <div>* lunch *

        <div>Jacob Chapel  <span style="color:gray; font-style: italic">Why did we choose hapi?</span></div>

        <div>Andy Royle  <span style="color:gray; font-style: italic">hapi's plugin interface is awesome and I'm here to geek out about it</span></div>

        <div>Farrin Reid  <span style="color:gray; font-style: italic">server.inject and registered server methods</span></div>

        <div>*TBD*

        <div>* break *

        <div>Dave Stevens  <span style="color:gray; font-style: italic">Using hapi Plugins to Version your Api</span></div>

        <div>Reid Burke  <span style="color:gray; font-style: italic">Validation with Joi</span></div>

        <div>Brad Harris  <span style="color:gray; font-style: italic">What hapi taught us</span></div>

        <div>James Weston  <span style="color:gray; font-style: italic">None Shall Pass</span></div>

        <div>Eran Hammer  <span style="color:gray; font-style: italic">hapi 8</span></div>
  
        p The #hapiday CFP is now closed, look forward to seeing you at the event!

        .cf

          <a href="https://github.com/ednapiranha" class="speaker">
          img(src='https://avatars0.githubusercontent.com/u/83059?v=3&s=150')
          </a>
          <a href="https://github.com/kpdecker" class="speaker">
          img(src='https://avatars1.githubusercontent.com/u/196390?v=3&s=150')
          </a>
          <a href="https://github.com/johnbrett" class="speaker">
          img(src='/public/img/johnbrett.png')
          </a>
          <a href="https://github.com/reid" class="speaker">
          img(src='https://avatars0.githubusercontent.com/u/9517?v=3&s=150')
          </a>

        .cf
          <a href="https://github.com/jlamendo" class="speaker">
          img(src='https://avatars2.githubusercontent.com/u/6037687?v=3&s=150')
          </a>
          <a href="https://github.com/jaw187" class="speaker">
          img(src='/public/img/jaw.png')
          </a>
          <a href="https://github.com/arb" class="speaker">
          img(src='/public/img/arb.png')
          </a>
          <a href="https://github.com/hueniverse" class="speaker">
          img(src='https://avatars1.githubusercontent.com/u/56631?v=3&s=150')
          </a>

        .cf
          <a href="https://github.com/geek" class="speaker">
          img(src='https://avatars2.githubusercontent.com/u/441346?v=3&s=150')
          </a>
          <a href="https://github.com/nvcexploder" class="speaker">
          img(src='https://avatars0.githubusercontent.com/u/272524?v=3&s=150')
          </a>
          <a href="https://github.com/andyroyle" class="speaker">
          img(src='https://avatars2.githubusercontent.com/u/1472779?v=3&s=150')
          </a>
          

          

        h4 <a id="cfp"></a>Want to give a talk?
        p The CFP is the same as the <a href="https://github.com/mikeal/jsfest-oakland-cfp">JSFest call for proposals</a>; please file an issue there and tag your submission with 'hapi'. There is a very small difference, however, as talks will be 10 minutes long and organized into acts that will occur throughout the day.
        p If you would prefer to keep your submission private, feel free to send an email to <a href="mailto:ben@hapijs.com">ben@hapijs.com</a> instead.

        h4 Code of Conduct
        p Please see the <a href="http://oakland.jsfest.com/conduct.html">JSFest Code of Conduct</a> as it applies to hapi days as well.