extends layout

block title
  title hapi.js Help Resources

block content

  .content
    p There's a lot of different ways in which you can receive help using hapi:

    ul
        li Any <strong>issues or questions</strong> (no matter how basic), open an <a href="https://github.com/hapijs/discuss/issues">issue</a>.

        li For a self-guided lesson on hapi, use <a href="https://github.com/hapijs/makemehapi">Make Me Hapi</a>.

        li For a full application example, check out <a href="https://github.com/hueniverse/postmile">postmile</a>.

        li For <strong>discussions</strong> join the <a href="https://join.slack.com/t/hapihour/shared_invite/enQtNTA5MDUzOTAzOTU4LTUyZmFiYjkyMTBmNDcyMmI2MmRjMzg4Y2YzNTlmNzUzNjViN2U1NmYyY2NjYjhiYWU4MGE2OTFhZDRlYWMyZDY">Slack channel</a>.
