extends layout

block title
  title hapi.js mentors program

block content
    
    .content

        p There's a lot of different ways in which you can receive help using hapi: 

        ul 

            li Any <strong>issues or questions</strong> (no matter how basic), open an <a href="https://github.com/hapijs/hapi/issues">issue</a>.

            li For a self-guided lesson on hapi, use <a href="https://github.com/hapijs/makemehapi">Make Me Hapi</a>.

            li For a full application example, check out <a href="https://github.com/hueniverse/postmile">postmile</a>.
            
            li For <strong>discussions</strong> join the <a href="http://webchat.freenode.net/?channels=hapi">#hapi channel</a> on irc.freenode.net.

        p In addition to all of those channels, hapi.js now has ...

        h2 The Mentor Program

        p The goal of the hapi.js mentor program is to help individuals get comfortable and effective using hapi.js, make the hapi.js more accessible to a diverse community of developers, and empower developers to participate and contribute back to the hapi.js community.

        p Please use the forms below to apply as a <a href="https://goo.gl/forms/f26I5vv92F">Mentor</a> or <a href="https://goo.gl/forms/VSyPeqz15E">Mentee</a>, and of course, you are always welcome to begin [Contributing]() to hapi.js.

        p If you need immediate or casual help, feel free to tweet out to <a href="http://www.twitter.com/hapijs">@hapijs</a> or use IRC: #hapi on <a href="https://freenode.net/">freenode</a>. The goal of the mentors program is to set up longer term one-on-one relationships for a more directed, personal support.

        p Duration of the mentorship program can be between 6 to 12 months, with a participant being able to leave the program at any time. This is a purely volunteer program where those who have benefited from hapi.js are giving back and helping others master the tools (in hope that they will then pass it on as future mentors and module maintainers themselves).

        h2 Get Started 

            h3 Mentee

            p Filling out <a href="https://docs.google.com/forms/d/1R4VS7IcWJrm_0puv-38QzlEpe33i1yRltuv3ihI10PI/viewform">this form</a> will get you matched up with a mentor.

            p Once you've expressed interest in learning more about <a href="www.hapijs.com">hapi.js</a> and become an active contributor, you'll receive an email introducing you and the mentor who you'll be working with. Communication with this mentor must fall within the lines of our <a href="#Code of Conduct">Code of Conduct</a>.

            h3 Mentor

            p If you'd like to become a mentor please use <a href="https://goo.gl/forms/f26I5vv92F">this form</a>.

                h4 What's Expected for Mentors

                p Knowledge of the <a href="https://www.github.com/hapijs">hapi.js</a> environment is a great start. Mentees can ask questions about anything within the ecosystem, and there's a lot there. Ultimately, a mentor doesn't need to know everything, but at least have a good idea of where to look. The rest of the mentors group is here to help, so feel free to reach out and sign up. 

                p Time commitments should be limited to around an hour a week unless you would like to devote more time. Thanks very much for interest!

        h2 Local Mentors

        p If you're interested in getting advice from a local mentor, there may be some in your city. Look for Node meetups in your area, and see if any of the mentor team will be there. If you're looking for longer term help with learning, check out the normal Mentoring Program.

        h2 <a name="Code of Conduct">Code of Conduct</a>

        p hapi.js aims to be a community in which anyone can participate regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, and religion (or lack thereof).­

        p Until the official hapi.js Code of Conduct is being used, please utilize the <a href="http://confcodeofconduct.com/">Conference Code of Conduct</a>. tl;dr: Don't be a jerk.

        p Any violations of the code of conduct can be taken to Eran Hammer, Ben Acker, or filed anonymously <a href="https://goo.gl/forms/B6Ct1vYTtv">here</a>.

        h2 Mentions

        p In trying to develop the hapi.js mentoring program, we did a lot of reading to ensure folks participating have a great experience while using, committing to, or teaching others about hapi. Here are some of the programs from which we took guidance.

        ul
            li <a href="https://github.com/npm/policies">npm inc. policies</a>
            li <a href="https://www.hackerschool.com/manual#sub-sec-social-rules">Hacker School's 'Social Rules'</a>
