extends layout

block title
  title hapi.js Help Resources

block content

  .contain
    p There are a few ways in which you can receive help using hapi:

    ul
        li Any <strong>issues or questions</strong> (no matter how basic), open an <a href="https://github.com/hapijs/discuss/issues">issue</a>.

        li For <strong>discussions</strong> join the <a href="https://join.slack.com/t/hapihour/shared_invite/enQtNTA5MDUzOTAzOTU4LTUyZmFiYjkyMTBmNDcyMmI2MmRjMzg4Y2YzNTlmNzUzNjViN2U1NmYyY2NjYjhiYWU4MGE2OTFhZDRlYWMyZDY">Slack channel</a>.
