extends layout

block title
  title hapi.js

block header

  .contain

    section.bottom-rule.introduction
      .cf

        h2 A rich framework for building applications and services
        h4 hapi enables developers to focus on writing reusable application logic instead of spending time building infrastructure.

        .latest-update
          small Current version: <a href='https://github.com/hapijs/hapi/tags'>#{version && version.version || 'N/A'}</a>
          small  ● Latest update:
          small  <a href="#{latestUpdate.url}" role="update">#{latestUpdate && latestUpdate.updated || 'N/A'}</a>
          small  ● Downloads last month:
          small  <a href="http://npm-stat.com/charts.html?package=hapi">#{downloads || 'N/A'}</a>

block content

  .contain

    section.bottom-rule.getting-started
      a(href='/tutorials', class='button button-primary') Get started!

    section.bottom-rule.community
      p Having questions ? Join us on Slack at <a href='https://hapihour.slack.com'>hapihour.slack.com</a> (<a href='https://join.slack.com/t/hapihour/shared_invite/enQtNTA5MDUzOTAzOTU4LTUyZmFiYjkyMTBmNDcyMmI2MmRjMzg4Y2YzNTlmNzUzNjViN2U1NmYyY2NjYjhiYWU4MGE2OTFhZDRlYWMyZDY'>First time? Join here</a>).
