extends layout

block title
  title= active

block content
  .content.page-api.cf
    .column.api-description
      .reference!= html

    .column.nav-secondary
      nav
        h3 Tutorials
        ul
          each tutorial in tutorials
            li
              a(href='/tutorials/#{tutorial.slug}', class=(tutorial.title === active ? 'active' : '')) #{tutorial.title}
